<!DOCTYPE html>
<html>
<head>
    <title>Travel Modes in Directions</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>

    <style>
		
			/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}
	
		
    </style>
</head>
<body>
	<div id="floating-panel">
      <b>Mode of Travel: </b>
      <select id="mode">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
      </select>
    </div>
    <div id="map"></div>
 <script th:inline="javascript">
		const  start = /*[[${ start}]]*/" start";
        const  goal = /*[[${ goal}]]*/" goal";
     const  formData = /*[[${ formData}]]*/" formData";
 var script = document.createElement('script');
                script.src = '//maps.google.com/maps/api/js?key=AIzaSyAWyBYY1MDDyQGdA6VN72X7QOHhwPh4I_o&callback=initMap';
                script.async = true; // スクリプトを非同期に読み込む
                document.body.appendChild(script);
</script>

<script>
        function initMap() {
  var poss = [];
  var poss2 = [];

  var geocoder = new google.maps.Geocoder();

var address = start;
  geocoder.geocode({ address: address }, function (results, status) {
    if (status === 'OK' && results[0]) {
      var Lat = results[0].geometry.location.lat();
      var Lng = results[0].geometry.location.lng();
      alert("開始地点の" + Lat + Lng);

      // calculateAndDisplayRoute(Lat, Lng);
      poss.push({ lat: Lat, lng: Lng });

      // 2番目の住所を取得
      var address = goal;
      geocoder.geocode({ address: address }, function (results, status) {
        if (status === 'OK' && results[0]) {
          var Lat = results[0].geometry.location.lat();
          var Lng = results[0].geometry.location.lng();
          alert("終了地点の" + Lat + "," + Lng);

          // calculateAndDisplayRoute(Lat, Lng);
          poss.push({ lat: Lat, lng: Lng })

          // ここでcalculateAndDisplayRouteを呼び出す
          calculateAndDisplayRoute(poss);
        } else {
          alert("終了地点の住所が正しくありません");
        }
      });
    } else {
      alert("開始地点の住所が正しくありません");
    }
  });
  
  addresses.forEach(function (formData) {
	   address = formData;
    geocoder.geocode({ address: address }, function (results, status) {
        if (status === 'OK' && results[0]) {
            // 緯度経度の取得
             var Lat = results[0].geometry.location.lat();
          var Lng = results[0].geometry.location.lng();
          
          // calculateAndDisplayRoute(Lat, Lng);
          poss2.push({ lat: Lat, lng: Lng })

          // ここでcalculateAndDisplayRouteを呼び出す
          calculateAndDisplayRoute(poss2);
        } else {
            alert("中継地点の住所が正しくありません");
        }
    });
});
  
}


function calculateAndDisplayRoute(poss,poss2) {
  const directionsRenderer = new google.maps.DirectionsRenderer();
  const directionsService = new google.maps.DirectionsService();
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 14,
    center: { lat: 35.6585696, lng: 139.745484 },
  });

  directionsRenderer.setMap(map);

  document.getElementById("mode").addEventListener("change", () => {
    const selectedMode = document.getElementById("mode").value;
    calculateAndDisplayRoute(poss, poss2 ,selectedMode);
  });

  const selectedMode = document.getElementById("mode").value;
 
 for(let i = 0; i < poss2.length; i++){
	 waypts.push({
        location: { lat: poss2[i].lat, lng: poss2[i].lng },
        stopover: true,
      });
 }
 
  directionsService
    .route({
      origin: { lat: poss[0].lat, lng: poss[0].lng },//origin: { lat: Lat, lng: Lng },
      destination: { lat: poss[1].lat, lng: poss[1].lng },
      waypoints: waypts,//配列用に作り変える　配列はposs2

      travelMode: google.maps.TravelMode[selectedMode],
    })
    .then((response) => {
      directionsRenderer.setDirections(response);
      
          // ルートの詳細情報にアクセス
    var route = response.routes[0];

    // 各セグメント（ステップ）にアクセス
    route.legs.forEach(function(leg) {
      leg.steps.forEach(function(step) {
        // ステップごとの詳細情報にアクセス
        console.log("ルートの指示:", step.instructions);
        console.log("ステップの開始地点:", step.start_location.lat(), step.start_location.lng());
        console.log("ステップの終了地点:", step.end_location.lat(), step.end_location.lng());
        console.log("ステップの所要時間:", step.duration.text);
        console.log("ステップの距離:", step.distance.text);
        // 他にも詳細情報が含まれています
        console.log("------------------------");
      });
    });
      
    })
    .catch((e) => window.alert("Directions request failed due to " + status));
}

window.initMap = initMap;

		
		
	</script>
    
</body>
</html>
