<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>検索結果表示</title>
  <style>
    .tabs {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      font-size: 30px;
    }

    .tab {
      flex: 1;
      text-align: center;
      padding: 5px 20px;
      background-color: #f4f4f4;
      cursor: pointer;
    }

    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block;
      font-size: 200%;
    }
    
    #map {
    width: 750px;
    height:200px;
	}

	#street{
	width: 550px;
    height:330px;
	}
		
	
  </style>
</head>
<body>
  <ul class="tabs">
    <li class="tab" onclick="showTab(1)">徒歩</li>
    <li class="tab" onclick="showTab(2)">車</li>
    <li class="tab" onclick="showTab(3)">電車</li>
    <li class="tab" onclick="showTab(4)">自転車</li>
  </ul>

  <div id="tab1" class="tab-content active"> &nbsp;&nbsp;千葉<br> &nbsp;&nbsp;&nbsp;↓<br>津田沼<br><img id="map" src="images/map.png" alt="マップ" width="200" height="250"><br>
  <img id="street"  src="images/streetview.jpg" alt="ストリートビュー" width="200" height="300"></div>
  <div id="tab2" class="tab-content 1">&nbsp;&nbsp;千葉<br> &nbsp;&nbsp;&nbsp;↓<br>津田沼<br><img id="map" src="images/map.png" alt="マップ" width="200" height="250"><br>
  <img id="street"  src="images/streetview.jpg" alt="ストリートビュー" width="200" height="300"></div>
  <div id="tab3" class="tab-content 2">&nbsp;&nbsp;千葉<br> &nbsp;&nbsp;&nbsp;↓<br>津田沼<br><img id="map" src="images/map.png" alt="マップ" width="200" height="250"><br>
  <img id="street"  src="images/streetview.jpg" alt="ストリートビュー" width="200" height="300"></div>
  <div id="tab4" class="tab-content 3">&nbsp;&nbsp;千葉<br> &nbsp;&nbsp;&nbsp;↓<br>津田沼<br><img id="map" src="images/map.png" alt="マップ" width="200" height="250"><br>
  <img id="street"  src="images/streetview.jpg" alt="ストリートビュー" width="200" height="300"></div>

  <script>
    function showTab(tabNumber) { 
      // 選択されたタブのコンテンツを表示し、他のコンテンツを非表示にする
      for (let i = 1; i <= 4; i++) {
        const tabContent = document.getElementById(`tab${i}`);
        const tab = document.querySelector(`.tabs li:nth-child(${i})`);

        if (i === tabNumber) {
          tabContent.classList.add('active');
          tab.classList.add('active'); // タブにもactiveクラスを追加する場合
        } else {
          tabContent.classList.remove('active');
          tab.classList.remove('active'); // タブにもactiveクラスを追加する場合
        }
      }
    }
  </script>
</body>
</html>
